@model DishViewModel


<div class="container-fluid">
    <h3>Admin menu</h3>

    <form method="post" asp-controller="admin" asp-action="adminlogout">
        <button class="btn btn-danger">
            Logout
        </button>
    </form>
</div>


<ul class="list-group">
    <li>
        <a class="btn btn-primary mt-1" asp-controller="menu" asp-action="AdminDishHandler">Handle menu</a>
    </li>
    <li>
        <a class="btn btn-primary mt-1" asp-controller="customer" asp-action="AdminCustomerHandler">Handle customers</a>
    </li>
    <li>
        <a class="btn btn-primary mt-1" asp-controller="Table" asp-action="AdminTableHandler">Handle Tables</a>
    </li>
    <li>
        <a class="btn btn-primary mt-1" asp-controller="Reservation" asp-action="AdminReservationHandler">Handle reservations</a>
    </li>
</ul>