@model DishViewModel


<h3>Admin menu</h3>

<ul>
    <li>
        <a asp-controller="menu" asp-action="AdminDishHandler">Handle menu</a>
    </li>
    <li>
        <a asp-controller="customer" asp-action="AdminCustomerHandler">Handle customers</a>
    </li>
</ul>