@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Birria tacos</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                For this week, were doing a special: @*insert get birria nachos*@
            </div>
            <div class="col-sm">
                <p>We're a popup birria tacos foodstand that sets up throughout Stockholm. We source all our ingredients from authentic mexican vendors
                    to create the best authentic birria in Stockholm. Come on down to our current location:x at the times:x to try them out.
                </p>
            </div>
            <div class="col-sm">
                
            </div>
        </div>
    </div>
</div>
<aside>
    swag
</aside>
